.picture {
  width: 723px;
  height: 723px;
  margin: 0 auto;
}

.puzzle {
  width: 85px;
}

.flexContainer1 {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}